@import compass/reset
@import compass/css3
@import compass/layout

+font-face("PTSansRegular", font-files("/webfont/ptsans-regular-webfont.woff", woff))
+font-face("PTSansBoldItalic", font-files("/webfont/ptsans-bolditalic-webfont.woff", woff))
+font-face("PTSansBold", font-files("/webfont/ptsans-bold-webfont.woff", woff))
+font-face("PTSansItalic", font-files("/webfont/ptsans-italic-webfont.woff", woff))

$font: 14px

html, body
  :font-family PTSansRegular, Tahoma
  :background #d8ddd3

h1
  :margin 8px 0 0 0
  :color transparent
  :display block
  :overflow hidden
  :width 236px
  :height 48px
  :background url('/images/quavio.png') no-repeat top center
  :float left

h2
  :font-family PTSansBold, Tahoma
  :font-weight bold
  :color white
  :font-size $font * 4
  :text-align center

h3
  :color white
  +text-shadow(black)
  :margin 0 0 60px 0
  :font
    :size 36px
    :family PTSansBold

h4
  :color #333
  :font
    :size 20px
  :font-family PTSansBold

strong
  :font-family PTSansBold, Tahoma
  :font-weight bold

.wrapper
  :width 960px
  :margin 0 auto

#menu
  :background black
  :position fixed
  :width 100%
  :z-index 2
  :top 35px
  :border-top lighten(black, 20%) 1px solid
  +box-shadow(black, 0, 5px, 5px)
  ul
    :float right
    :margin-top 20px
    li
      :color lightgray
      :cursor pointer
      :display inline
      :font-family PTSansBold
      :font-size $font * 1.2
      :margin 0 0 0 20px
      &:hover
        :color white

#header
  :background url("/images/bkg_header.png")
  :padding 10px 0 60px 0
  :color white
  p
    :font-size $font * 2
    :text-align center
    :padding 0 180px
    +text-shadow(black, 3px, 3px, 2px)
  h2
    :margin 130px 0 10px 0
    +text-shadow(black, 3px, 3px, 2px)
  .contato, a
    :font-size $font
    :color lightgray
    :text-align right

#info
  :width 100%
  :margin-top 120px
  :float left
  #servicos
    :float left
    :width 600px
    p
      :font-size 24px
  #contato
    :width 330px
    :float right

#projetos
  :margin 180px 0 0 0
  :float left
  :width 100%

#equipe
  :height 400px
  :padding 0 0 70px 0
  ul
    :width 100%
    li
      :float left
      :width 290px
      :margin 0 20px
      :background url('/images/bkg_equipe.jpg') no-repeat top center
      :height 153px

    li:first-child, li:last-child,li:nth-child(4)
      :margin 0 !important

#bottom
  :background black url('/images/bkg_rodape.png') repeat-x
  :height 383px
  :padding 17px 0 0 0
  .wrapper
    div
      :float left
    #map
      :width 408px
      iframe
        :border 10px solid #333
        +border-radius(9px)
        :margin 26px 0 0 0
    #localizacao
      :width 220px
      :padding 137px 18px 0
      span
        :font-size $font*2+1
        :color white
        :width 100%
        :float left
      address
        :color #ccc
        :font-size $font+11
        :margin 10px 0
      a
        :background url('/images/btn_fale_conosco.png') no-repeat top center
        :float left
        :width 207px
        :height 52px
      a:hover
        :background url('/images/btn_fale_conosco.png') no-repeat bottom center
      a:active
        :height 54px
    #sociais
      :width 296px
      a
        :float left
        :color white
        :font-size $font*2+8
        :text-decoration none
        :font-family PTSansBold
      .github,.facebook
        :width 32px
        :height 32px
        :float right
      .facebook
        :background url('/images/facebook.png') no-repeat top center
      .github
        :background url('/images/twitter.png') no-repeat top center
        :margin 0 10px 0 0
