@import compass/reset
@import compass/css3
@import compass/layout

+font-face("PTSansRegular", font-files("/webfont/ptsans-regular-webfont.woff", woff))
+font-face("PTSansBoldItalic", font-files("/webfont/ptsans-bolditalic-webfont.woff", woff))
+font-face("PTSansBold", font-files("/webfont/ptsans-bold-webfont.woff", woff))
+font-face("PTSansItalic", font-files("/webfont/ptsans-italic-webfont.woff", woff))

$font: 14px

html, body
  :font-family PTSansRegular, Tahoma

h1
  :margin 8px 0 0 0
  :color transparent
  :display block
  :overflow hidden
  :width 236px
  :height 48px
  :background url('/images/quavio.png') no-repeat top center
  :float left

h2
  :font-style bold
  :color white
  :font-size $font * 4
  :text-align center

h3
  :color white
  +text-shadow(black)
  :font
    :size 36px

h4
  :color black
  :font
    :size 20px

strong
  :font-family PTSansBold, Tahoma
  :font-weight bold

.wrapper
  :width 960px
  :margin 0 auto

.nav
  :background url("/images/menu_topo.png")
  :height 71px
  :position fixed
  :width 100%
  :margin-top 35px
  :z-index 2
  :top 0
  ul
    :float right
    :display block
    :margin-top 20px
    li
      :cursor pointer
      :color white
      :display inline
      :font-family PTSansBold
      :font-size 18px
      :padding 0 10px

#header
  :background url("/images/bkg_header.png")
  :padding 10px 0 60px 0
  :color white
  a
    :color white
  p
    :font-size $font * 2
    :text-align center
    :padding 0 180px
  h2
    :margin 130px 0 10px 0
  .contato
    :text-align right

#info
  :width 100%
  :margin-top 120px
  :float left
  #servicos
    :float left
    :width 600px
    p
      :font-size 24px
  #contato
    :width 330px
    :float right

#projetos
  :margin 180px 0 0 0
  :float left
  :width 100%
