%div#banner
  .wrapper
    %div#mail_top contato@quavio.com.br | +55 51 3062.7916
    %h2 SOFTWARE NA WEB
    %p 
      Planejamos, desenhamos e desenvolvemos aplicativos web em
      %strong Ruby on Rails
      utilizando 
      %strong integração de serviços
      web.
