%div#bottom
  %div.wrapper
    %div#map
      %h3
        %a{:href => "#localizacao"} LOCALIZAÇÃO
      %iframe{:frameborder => "0", :height => "236", :marginheight => "0", :marginwidth => "0", :scrolling => "no", :src => "http://maps.google.com.br/maps?f=q&source=s_q&hl=pt-BR&geocode=&q=rua+dr.vale+60%2F501+porto+alegre+rio+grande+do+sul&aq=&sll=-14.239424,-53.186502&sspn=62.891534,108.896484&ie=UTF8&hq=&hnear=R.+Dr.+Vale,+60+-+Floresta,+Porto+Alegre+-+Rio+Grande+do+Sul,+90560-010&z=14&iwloc=r13&ll=-30.022576,-51.208286&output=embed", :width => "364"}
    %div#localizacao
      %span (51) 3062 7916
      %address Rua Dr. Vale 60/501 Porto Alegre - Brasil
      %a{:href =>""}
    %div#sociais
      %a{:href => "http://twitter.com/quavio"}@quavio
      %a.facebook{:href => "http://www.facebook.com/pages/Quavio-Software-na-Web/149023905147230"}
      %a.github{:href => "http://www.facebook.com/pages/Quavio-Software-na-Web/149023905147230"}
