%div#clientes
  .wrapper
    %h3
      %a{:href => "#clientes"} CLIENTES
    %ul
      - Client.all.each do |client|
        %li
          %img{:src => "/images/clientes/#{client.name}.jpg", :alt => client.name}
          %img{:src => "/images/clientes/#{client.name}-color.jpg"}
