%div#clientes
  .wrapper
    %h3
      %a{:href => "#clientes"} CLIENTES
    %ul
      - Client.all.each do |client|
        %li
          %img{:src => "/images/clientes/#{client.gray_logo}", :alt => client.name}
          %img{:src => "/images/clientes/#{client.color_logo}", :alt => client.name}
