%div#equipe
  .wrapper
    %h3 EQUIPE
    %ul
      %li 
        %img{:src => "/tomas.png"}
        %h4 Tomas de Lara
        %p Lorem ipsum dolor sit amer, consectur adipiscing, sed diam nonummy nibh eusimod
        %a{:href => "http://facebook.com/Tomasdelara"} Facebook
        %a{:href => "http://twitter.com/tomasdelara"} Twitter
      %li 
        %img{:src => "/tomas.png"}
        %h4 Nícolas Iensen
        %p Lorem ipsum dolor sit amer, consectur adipiscing, sed diam nonummy nibh eusimod
        %a{:href => "http://github.com/nicolasiensen"} Github
        %a{:href => "http://twitter.com/nicolasiensen"} Twitter
      %li 
        %img{:src => "/barbara.png"}
        %h4 Bárbara Wolff Dick
        %p Lorem ipsum dolor sit amer, consectur adipiscing, sed diam nonummy nibh eusimod
        %a{:href => "http://facebook.com/barbara.dick"} Facebook
        %a{:href => "http://twitter.com/"} Github
      %li 
        %img{:src => "/mortaro.png"}
        %h4 Christian Mortaro
        %p Lorem ipsum dolor sit amer, consectur adipiscing, sed diam nonummy nibh eusimod
        %a{:href => "https://github.com/Mortaro"} Github
        %a{:href => "https://rubygems.org/profiles/49107"} RubyGems
      %li 
        %img{:src => "/angelo.png"}
        %h4 Angelo Fumagalli
        %p Lorem ipsum dolor sit amer, consectur adipiscing, sed diam nonummy nibh eusimod
        %a{:href => "http://facebook.com/fumagalli.angelo"} Facebook
        %a{:href => "https://rubygems.org/"}
