%div#equipe
  .wrapper
    %h3
      %a{:href => "#equipe"} EQUIPE
    %ul
      - Team.all.each do |member|
        %li 
          %img{:src => "/images/avatar/#{member.avatar}"}
          %h4= member.name
          %p= member.about
          - SocialLink.find_all_by_owner(member).each do |link|
            %a{:href => link.url, :class => link.name.downcase}= link.name
