#header
  .wrapper
    %h2 SOFTWARE NA WEB
    %p 
      Desenvolvemos sistemas, aplicativos e sites utilizando
      %strong integração de serviços web
      primando pelas tecnologias e métodos mais eficientes.
