#header
  .wrapper
    %h2 SOFTWARE NA WEB
    %p 
      Planejamos, desenhamos e desenvolvemos aplicativos web em
      %strong Ruby on Rails
      utilizando 
      %strong integração de serviços
      web.
