#menu
  .wrapper
    %h1 Quavio - Software na web
    %ul
      %li
        %a{:href =>"#servicos"} SERVIÇOS
      %li
        %a{:href =>"#projetos"} PROJETOS
      %li
        %a{:href =>"#clientes"} CLIENTES
      %li
        %a{:href =>"#equipe"} EQUIPE
      %li
        %a.last{:href =>"#bottom"} LOCALIZAÇÃO
