#menu
  .wrapper
    %h1 Quavio - Software na web
    %ul
      %li{:href =>"#servicos"} SERVIÇOS
      %li{:href =>"#projetos"} PROJETOS
      %li{:href =>"#clientes"} CLIENTES
      %li{:href =>"#equipe"} EQUIPE
      %li{:href =>"#contato"} CONTATO
