%div#projetos
  .wrapper
    %h3 PROJETOS
    %ul
      %li
        %img{:src => "/"}
        %h4 RESERVA.AI
        %p Lorem ipsum dolor sit amer, consectur adipiscing, sed diam nonummy nibh eusimod
      %li
        %img{:src => "/"}
        %h4 METASTASE.ME
        %p Lorem ipsum dolor sit amer, consectur adipiscing, sed diam nonummy nibh eusimod
      %li
        %img{:src => "/"}
        %h4 IMDEPA.COM.BR
        %p Lorem ipsum dolor sit amer, consectur adipiscing, sed diam nonummy nibh eusimod  
      %li
        %img{:src => "/"}
        %h4 RESERVA.AI
        %p Lorem ipsum dolor sit amer, consectur adipiscing, sed diam nonummy nibh eusimod  
      %li
        %img{:src => "/"}
        %h4 METASTASE.ME
        %p Lorem ipsum dolor sit amer, consectur adipiscing, sed diam nonummy nibh eusimod  
      %li
        %img{:src => "/"}
        %h4 IMDEPA.COM.BR
        %p Lorem ipsum dolor sit amer, consectur adipiscing, sed diam nonummy nibh eusimod
