#projetos
  .wrapper
    %h3
      %a{:href => "#projetos"} PROJETOS
    %ul
      - Project.all.each do |project|
        %li
          %img{:src => "/images/projetos/#{project.name}.png"}
          %h4= project.name
          %p= project.description
