#servicos_contato
  .wrapper
    #servicos
      %h3
        %a{:href => "#servicos_contato"} SERVIÇOS
      %ul
        %li Sistemas de compra coletiva
        %li Intranets
        %li Extranets
        %li SaaS - Software como Serviço
        %li Aplicativos voltados para redes sociais
        %li Lojas virtuais
              
    #contato
      %form{:method => "post"}     
        %h3
          %a{:href => "#servicos_contato"} CONTATO
        %fieldset
          %input{:type => "text", :name => "nome"}
          %input{:type => "text", :name => "email"}
        %fieldset  
          %textarea{:name => "mensagem"}
          %input{:type => "submit", :value => "ENVIAR"}
      - if flash[:notice]
        %p.notice= flash[:notice]
      - if flash[:alert]      
        %p.alert= flash[:alert]
    /
      .contato
      %a{:href => "mailto:contato@quavio.com.br"} contato@quavio.com.br
      | +55 51 3062.7916
