#servicos_contato
  .wrapper
    #servicos
      %h3 SERVIÇOS
      %p Our process is to design the user interface first, then implement user stories. We work in weekly iterations and deploy to production often. 
      %ul
        %li Design e desenvolvimento de aplicativos web
        %li Escalabilidade e soluções para lojas virtuais
        %li Análise e desenvolvimento de sistemas coorporativos
        %li Outsourcing de projetos
              
    #contato
      %form{:method => "post"}     
        %h3 CONTATO
        %fieldset
          %input{:type => "text", :name => "nome"}
          %input{:type => "text", :name => "email"}
        %fieldset  
          %textarea{:name => "mensagem"}
          %input{:type => "submit", :value => "ENVIAR"}
      - if flash[:notice]
        %p.notice= flash[:notice]
      - if flash[:alert]      
        %p.alert= flash[:alert]
    /
      .contato
      %a{:href => "mailto:contato@quavio.com.br"} contato@quavio.com.br
      | +55 51 3062.7916

%script
  $("input[name=nome]").placeHolder({"text": "Nome"});
  $("input[name=email]").placeHolder({"text": "E-mail"}); 
  $("textarea[name=mensagem]").placeHolder({"text": "Mensagem"}); 
