%img{:src => "http://quavio-site-2011.heroku.com/images/quavio.png"}
%hr
%table{:cellpadding => 5}
  %tr
    %td Nome
    %td= params[:nome]
  %tr
    %td E-mail
    %td= params[:email]
  %tr
    %td Mensagem
    %td= params[:mensagem]
