%html
  %head
    %title Quavio - Software na web
    %meta{"http-equiv" => "Content-Type", :content => "text/html", :charset => "utf-8"}
    /%link{:rel => 'stylesheet', :type =>'text/css', :href => '/stylesheets/screen.css'}
    %link{:rel => 'shortcut icon', :type=> 'image/x-icon', :href => '/images/favicon.png'}
  %body
    
    %div.nav
      %div.wrapper
        %h1 Quavio - Software na web
        %ul
          %li{:href =>"#servicos"} SERVIÇOS
          %li{:href =>"#projetos"} PROJETOS
          %li{:href =>"#clientes"} CLIENTES
          %li{:href =>"#equipe"} EQUIPE
          %li{:href =>"#contato"} CONTATO

    
    %div#top
      %div.wrapper
        %div#small contato@quavio.com.br | +55 51 3062.7916
        %div#banner
          %h2 SOFTWARE NA WEB
          %p Planejamos, desenhamos e desenvolvemos aplicativos web em Ruby on Rails utilizando integração de serviços web.
        %div#info
          %div#servicos
            %h3 SERVIÇOS
            %p Our process is to design the user interface first, then implement user stories. We work in weekly iterations and deploy to production often. 
            %ul
              %li Design e desenvolvimento de aplicativos web
              %li Escalabilidade e soluções para lojas virtuais
              %li Análise e desenvolvimento de sistemas coorporativos
              %li Outsourcing de projetos
            
          %div#contato
            %h3 CONTATO
            %form{:method => "post"} 
              %fieldset
                %input{:type => "text", :name => "nome"}
                %input{:type => "text", :name => "email"}
              %fieldset  
                %textarea{:name => "nome"}
              %input{:type => "submit", :value => "ENVIAR"}
        %div#projetos
          %h3 PROJETOS
          %ul
            %li
              %img{:src => "/"}
              %h4 RESERVA.AI
              %p Lorem ipsum dolor sit amer, consectur adipiscing, sed diam nonummy nibh eusimod
            %li
              %img{:src => "/"}
              %h4 METASTASE.ME
              %p Lorem ipsum dolor sit amer, consectur adipiscing, sed diam nonummy nibh eusimod
            %li
              %img{:src => "/"}
              %h4 IMDEPA.COM.BR
              %p Lorem ipsum dolor sit amer, consectur adipiscing, sed diam nonummy nibh eusimod  
            %li
              %img{:src => "/"}
              %h4 RESERVA.AI
              %p Lorem ipsum dolor sit amer, consectur adipiscing, sed diam nonummy nibh eusimod  
            %li
              %img{:src => "/"}
              %h4 METASTASE.ME
              %p Lorem ipsum dolor sit amer, consectur adipiscing, sed diam nonummy nibh eusimod  
            %li
              %img{:src => "/"}
              %h4 IMDEPA.COM.BR
              %p Lorem ipsum dolor sit amer, consectur adipiscing, sed diam nonummy nibh eusimod
          
        %div#clientes
          %h3 CLIENTES
          %ul
            %li#dbserver DB SERVER
            %li#imdepa IMDEPA
            %li#tubozan TUBOZAN
            %li#dnforum DN FORUM
            %li#portoalegreclinicas PORTO ALEGRE CLINICAS
            %li#galeazi GALEAZI
        
        %div#equipe
          %h3 EQUIPE
          %ul
            %li 
              %img{:src => "/tomas.png"}
              %h4 Tomas de Lara
              %p Lorem ipsum dolor sit amer, consectur adipiscing, sed diam nonummy nibh eusimod
              %a{:href => "http://facebook.com/Tomasdelara"} Facebook
              %a{:href => "http://twitter.com/tomasdelara"} Twitter
            %li 
              %img{:src => "/tomas.png"}
              %h4 Nícolas Iensen
              %p Lorem ipsum dolor sit amer, consectur adipiscing, sed diam nonummy nibh eusimod
              %a{:href => "http://github.com/nicolasiensen"} Github
              %a{:href => "http://twitter.com/nicolasiensen"} Twitter
            %li 
              %img{:src => "/barbara.png"}
              %h4 Bárbara Wolff Dick
              %p Lorem ipsum dolor sit amer, consectur adipiscing, sed diam nonummy nibh eusimod
              %a{:href => "http://facebook.com/barbara.dick"} Facebook
              %a{:href => "http://twitter.com/"} Github
            %li 
              %img{:src => "/mortaro.png"}
              %h4 Christian Mortaro
              %p Lorem ipsum dolor sit amer, consectur adipiscing, sed diam nonummy nibh eusimod
              %a{:href => "https://github.com/Mortaro"} Github
              %a{:href => "https://rubygems.org/profiles/49107"} RubyGems
            %li 
              %img{:src => "/angelo.png"}
              %h4 Angelo Fumagalli
              %p Lorem ipsum dolor sit amer, consectur adipiscing, sed diam nonummy nibh eusimod
              %a{:href => "http://facebook.com/fumagalli.angelo"} Facebook
              %a{:href => "https://rubygems.org/"} 

      %div#bottom
        %div.wrapper
          %div#map
            %h3 LOCALIZAÇÃO
            <iframe width="364" height="236" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com.br/maps?f=q&amp;source=s_q&amp;hl=pt-BR&amp;geocode=&amp;q=rua+dr.vale+60%2F501+porto+alegre+rio+grande+do+sul&amp;aq=&amp;sll=-14.239424,-53.186502&amp;sspn=62.891534,108.896484&amp;ie=UTF8&amp;hq=&amp;hnear=R.+Dr.+Vale,+60+-+Floresta,+Porto+Alegre+-+Rio+Grande+do+Sul,+90560-010&amp;z=14&amp;iwloc=r13&amp;ll=-30.022576,-51.208286&amp;output=embed"></iframe>
          %div#localizacao
            %span (51) 3062 7916
            %adress Rua Dr. Vale 60/501 Porto Alegre - Brasil
            %a{:href =>""}
          %div#sociais
            %a{:href => "http://twitter.com/quavio"}
            %a{:href => "http://www.facebook.com/pages/Quavio-Software-na-Web/149023905147230"}
          
      
        
        
        
    
  